<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">  <!--网页元数据的属性说明，兼容性-->
    <title>-测试用例管理系统</title>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">   <!--跨屏自适应的情况下缩放比例的说明-->
    <script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default" role="navigation">
            	<div class="navbar-header">
            		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            			<span class="sr-only">Toggle navigation</span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
            		</button>
            		<a class="navbar-brand" href="#">测试用例管理系统</a>
            	</div>

            	<div class="collapse navbar-collapse navbar-ex1-collapse">
            		<ul class="nav navbar-nav">
            			<li class="active"><a href="#">首页</a></li>
						<li class="dropdown">
            				<a href="#" class="dropdown-toggle" data-toggle="dropdown">用例管理 <b class="caret"></b></a>
            				<ul class="dropdown-menu">
            					<li><a href="#">用例列表</a></li>
                                 <li>
                                    <a href="#">用户注册</a>
                                </li>
            				</ul>



            			</li>
            		</ul>
            		<form class="navbar-form navbar-left" role="search">
            			<div class="form-group">
            				<input type="text" class="form-control" placeholder="搜索">
            			</div>
            			<button type="submit" class="btn btn-default">搜索</button>
            		</form>
            		<ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
            				<a href="#" class="dropdown-toggle" data-toggle="dropdown">管理员 <b class="caret"></b></a>
            				<ul class="dropdown-menu">
            					<li><a href="#">登录</a></li>
            					<li><a href="#">Another action</a></li>
            					<li><a href="#">Something else here</a></li>
            					<li><a href="#">退出</a></li>
            				</ul>
            			</li>
            		</ul>
            	</div><!-- /.navbar-collapse -->
            </nav>
        </div>
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">问题反馈</li>

            </ul>
        </div>
{% block content %}

        {% endblock %}
        <div class="row">
            <div class="well text-center">
                &copy; Alisa &nbsp;版权所有 <a href="https://www.baidu.com">百度</a>
            </div>
        </div>
    </div>
</body>
</html>
